[*.cs]

# SA1629: Documentation text should end with a period
dotnet_diagnostic.SA1629.severity = none

# SA1208: System using directives should be placed before other using directives
dotnet_diagnostic.SA1208.severity = none
